body {
    min-height: 100vh;
}

.login-page main {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

.card {
    border-radius: 1rem;
}

@media (max-width: 991.98px) {
    .login-page main {
        align-items: flex-start;
    }
}